<div class="mdui-card mdui-col-md-8 mdui-col-offset-md-2 mdui-m-b-3" data-id="{{ article.id }}">
    <div class="mdui-card-primary">
        <div class="mdui-card-header-title">{{ article.title }}</div>
        <div class="mdui-card-header-subtitle">{{ article.column.name }}</div>
    </div>
    <div class="mdui-card-content">
        <div class="mdui-typo">
            {{ article.text|safe }}
        </div>
    </div>
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-btn-icon feedback" data-id="{{ article.id }}" data-opinion="like">
            <i class="mdui-icon material-icons">favorite_border</i>
        </button>
        <button class="mdui-btn mdui-btn-icon feedback" data-id="{{ article.id }}" data-opinion="dislike">
            <i class="mdui-icon material-icons">delete</i>
        </button>
        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
    </div>
</div>
