<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Zhihu Scholar</title>
    <link href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js" defer></script>
    {% block script %}{% endblock %}
</head>
<body>
<header class="mdui-appbar">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-md-10 mdui-col-offset-md-1">
                <div class="mdui-toolbar">
                    <a href="./" class="mdui-typo-headline">Zhihu Scholar</a>
                    <div class="mdui-toolbar-spacer"></div>
                    {% if current_user.is_authenticated %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% block main %}{% endblock %}
</body>
</html>
