{% extends 'base.html' %}
{% block main %}
<main class="mdui-m-t-5" id="main">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-card mdui-col-md-4 mdui-col-offset-md-4" id="login">
                <div class="mdui-typo-headline-opacity">Login</div>
                <form action="/login" method="post" name="login">
                    <div class="mdui-textfield">
                        {{ form.hidden_tag() }}
                        {{ form.email(size=128, class='mdui-textfield-input', placeholder='Email') }}
                        {{ form.password(size=128, class='mdui-textfield-input', placeholder='Password') }}
                        <label class="mdui-checkbox">
                            {{ form.remember_me(value='n') }}
                            <i class="mdui-checkbox-icon"></i>
                            Remember Me
                        </label>
                        <input class="mdui-btn mdui-float-right" type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}